/* General Body Styling */
body {
    margin: 0;
    font-family: "Monserrat", sans-serif;
    background: linear-gradient(-180deg, #66bb6a, #2e7d32);
    /* Christmas green */
    color: white;
}

h1, h2, h3 {
    font-family: "Berkshire Swash", sans-serif;
}

/* Navbar */
.navbar {
    background-color: #b71c1c;
    /* Christmas red */
    position: relative;
}

.navbar::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -10px; /* Adjust as needed */
    height: 10px; /* Height of the snow border */
    background: linear-gradient(to right, #fff 20%, transparent 20%, transparent 80%, #fff 80%);
    background-size: 20px 100%; /* Adjust for snowflake size */
    background-color: red;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Soft glow effect */
}

.navbar-brand {
    color: #fff !important;
    font-weight: bold;
    font-family: "Berkshire Swash", cursive, sans-serif;
}

.nav-link {
    color: #fff !important;
}

.nav-link:hover {
    color: #ffcc80 !important;
}

.navbar-toggler {
    border-color: white;
}

/* Message Container */
.message-overlay .alert {
    background-color: #FFFFFF;
    color: #b71c1c;
    border-color: #ffcc80;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Content Section */
.dashboard-view {
    background: linear-gradient(-180deg, #66bb6a, #2e7d32);
    min-height: 100vh;
    padding: 20px;
}

.body-content {
    flex: 1;
    /* Takes remaining space */
    background: linear-gradient(-180deg, #66bb6a, #2e7d32);
    text-align: center;
    padding: 40px 20px;
    overflow-y: auto;
    /* In case of extra content */
    font-family: christmas-classica;
}

#delete-image {
    width: 100% !important;
    vertical-align: middle;
}

.btn-custom {
    background-color: #ffcc80;
    color: #b71c1c;
    border: none;
    padding: 10px 20px;
    margin-top: 15px;
    font-weight: bold;
}

.btn-custom:hover {
    background-color: white;
    color: #b71c1c;
}

.center-content {
    text-align: center;
    list-style-position: inside;
}

.white-link {
    color: white;
}

/* Footer */
.footer {
    background-color: #b71c1c;
    color: white;
    position: relative;
}

.footer::before {
    content: '';
    position: absolute;
    top: -10px; /* Adjust as needed */
    left: 0;
    right: 0;
    height: 10px; /* Height of the snow border */
    background: linear-gradient(to right, #fff 20%, transparent 20%, transparent 80%, #fff 80%);
    background-size: 20px 100%; /* Adjust for snowflake size */
    background-color: red;
    z-index: 1; /* Ensure it appears above the footer */
}

.footer a {
    color: #fff;
    text-decoration: none;
}

.footer a:hover {
    color: #ffcc80;
    text-decoration: underline;
}

#Nerds {
    font-family: "Berkshire Swash", sans-serif;
}

/* CSS added by Jack and Oleksii */

/* General Styling */

.box-shadow {
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}

.header-white {
    color: #FFFFFF;
    opacity: 1;
}

.container--white {
    background-color: #FFFFFF;
}

.text--black {
    color: #000000
}


/* Custom alignment containers */

.container-v-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.v-space {
    line-height: 35px;
}

/* Custom button design for event list cards */

.btn--orange {
    background-color: initial;
    background-image: linear-gradient(-180deg, #FF7E31, #E62C03);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    outline: 0;
    overflow: hidden;
    padding: 0 10px;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    user-select: none;
    vertical-align: top;
    white-space: nowrap;
    z-index: 9;
    border: 0;
    transition: box-shadow .2s;
}

.btn--orange:hover {
    color: #FFFFFF;
    box-shadow: rgba(253, 76, 0, 0.5) 0 3px 8px;
}

.btn--orange:active {
    color: #FFFFFF;
}

.btn--blue {
    background-color: initial;
    background-image: linear-gradient(-180deg, #0d6efd, #0900ff);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    outline: 0;
    overflow: hidden;
    padding: 0 20px;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    user-select: none;
    vertical-align: top;
    white-space: nowrap;
    z-index: 9;
    border: 0;
    transition: box-shadow .2s;
}

.btn--blue:hover {
    color: #FFFFFF;
    box-shadow: rgba(4, 0, 253, 0.5) 0 3px 8px;
}

.btn--blue:active {
    color: #FFFFFF;
}

.btn--red {
    background-color: initial;
    background-image: linear-gradient(-180deg, #f94b4b, #ff0000);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    outline: 0;
    overflow: hidden;
    padding: 0 20px;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    user-select: none;
    vertical-align: top;
    white-space: nowrap;
    z-index: 9;
    border: 0;
    transition: box-shadow .2s;
}

.btn--red:hover {
    color: #FFFFFF;
    box-shadow: rgba(253, 0, 0, 0.5) 0 3px 8px;
}

.btn--red:active {
    color: #FFFFFF;
}

.btn--purple {
    background-color: initial;
    background-image: linear-gradient(-180deg, #7a6ad8, #472fd4);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    outline: 0;
    overflow: hidden;
    padding: 0 20px;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    user-select: none;
    vertical-align: top;
    white-space: nowrap;
    z-index: 9;
    border: 0;
    transition: box-shadow .2s;
}

.btn--purple:hover {
    color: #FFFFFF;
    box-shadow: rgba(110, 0, 253, 0.5) 0 3px 8px;
}

.btn--purple:active {
    color: #FFFFFF;
}

.btn--gray {
    background-color: initial;
    background-image: linear-gradient(-180deg, #868f96, #596164);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    outline: 0;
    overflow: hidden;
    padding: 0 20px;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    user-select: none;
    vertical-align: top;
    white-space: nowrap;
    z-index: 9;
    border: 0;
    transition: box-shadow .2s;
}

.btn--gray:hover {
    color: #FFFFFF;
    box-shadow: rgba(64, 64, 65, 0.5) 0 3px 8px;
}

.btn--gray:active {
    color: #FFFFFF;
}

/* Event card styles */

/* View Spaces Section */

.card {
    max-height: 600px;
    height: auto;
}

.card img {
    max-height: 300px;
}

.space-img {
    width: 100%;
    height: auto;
    object-fit: contain;
    max-width: 100%;
}

.add-space-text {
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration-line: none;
}

div .view-card-label {
    font-size: x-large;
    color: #b71c1c;
    font-weight: 700;
    margin-top: 0.5em;
    font-family: cursive;
}

div .view-card-value {
    font-size: large;
}

/* Space card icon */
.contributor-count {
    position: absolute;
    top: 2%;
    left: 2%;
    border-radius: 50%;
    padding: 5px;
    background-color: #472fd4;
    background-image: linear-gradient(-180deg, #7a6ad8, #472fd4);
}

.contributor-count:hover {
    cursor: pointer;
}

.contributor-count-text {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

/* Manage Participant Page - Form action buttons using fontawsome icons */

.delete-icon {
    background: none;
    border: none;
    color: red;
}

.add-icon {
    background: none;
    border: none;
    color: green;
}

.edit-icon {
    background: none;
    border: none;
    color: blue;
}

.save-icon {
    background: none;
    border: none;
    color: green;
}

.cancel-icon {
    background: none;
    border: none;
    color: red;
}

/* View event page */

.event-image {
    max-height: 300px;
}