{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Edit Event{% endblock %}

{% block content %}
<section class="container container-v-center">

    <h2 class="header-white">Edit Event</h2>

    <!-- Form for editing the expense space -->
    <form method="post" action="{% url 'edit_event' edit_id=edit_id %}" enctype="multipart/form-data">
        {% csrf_token %}

        <!-- Display the form fields using Crispy Forms -->
        {{ event_form | crispy }}

        <!-- Save and Cancel -->
        <button type="submit" class="btn--orange px-4">Save</button>
        <a href="{% url 'home' %}" class="btn btn--gray">Cancel</a>
    </form>
</section>

<script>

    //Script to hide 'image currently' field and disable currency field

    const pageUrl = window.location.href;

    if (pageUrl.includes('edit_event')) {
        const currencyField = document.getElementById('id_currency');
        const imageContainer = document.getElementById('div_id_space_image');
        const imageCurrentField = imageContainer.querySelector('div');

        if (imageCurrentField) {
            imageCurrentField.setAttribute('hidden', true);
        }

        if (currencyField) {
            currencyField.classList.add('readonly');
        }
    }
</script>


{% endblock %}