{% extends "base.html" %}
{% load static %}

{% block content %}
{% if user.is_authenticated %}
<section class="container mt-4">
    <div class="row mb-3">
        <h1 class="header-white text-center">Event: {{ event.title }}</h1>
    </div>

    <!-- Display participants -->
    <div class="row my-4">
        <h2 class="header-white">Participants</h2>
        <table class="table table-striped table-light mt-3">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Assigned Recipient</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for p in participant %}
                <tr>
                    <td>{{ p.name }}</td>
                    <td>{{ p.email }}</td>
                    <td>
                        {% if p.assigned_recipient %}
                            {{ p.assigned_recipient.name }}
                        {% else %}
                            Not assigned
                        {% endif %}
                    </td>
                    <td>
                        {% if is_organiser and p.email and not p.user %}
                            <a href="{% url 'invite_participant' p.id %}" class="btn btn-sm btn-primary">Send Invitation to {{ p.name }}</a>
                        {% else %}
                            <span>{{ p.name }} has accepted</span>
                        {% endif %}
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4">No participants found.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="d-flex justify-content-between align-items-center">
        <a href="{% url 'edit_participant' event.id %}" class="btn btn-secondary">Edit Participants</a>
        <a href="{% url 'random_santa' event.id %}" class="btn btn-success">Assign Random Santas</a>
    </div>
</section>

{% else %}
<section class="container mt-4">
    <div class="body-content" id="about">
        <h2>Please login to view events.</h2>
    </div>
</section>
{% endif %}
{% endblock %}